.after-header {
  background: #15171e;
  padding-left: 7rem;
  color: hsla(0, 0%, 100%, 0.84);
  padding-top: 1rem;
  /* width: 100%; */
  display: flex;
  padding-bottom: 1rem;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
