.movie-section-head {
  padding: 0.5rem 0;
}
.movie-list {
  display: flex;
  height: 13rem;
  overflow: hidden;
}

.movie {
  transition: 0.8s;
display: flex;
    margin: 0 0.2rem;
    flex-direction: column;
  a {
    display: inline-block;
    width: 8.5rem;
    height: 12rem;
    position: relative;
    transition: 0.3s ease-in;
    img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/*========caraousel buttons=========*/
.caraousel__btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-8rem);
}
