header {
  display: flex;
  height: 100vh;
  min-width: 3rem;
  position: fixed;
  z-index: 20;
  top: 0;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

ul {
  color: white;
  li {
    display: flex;
    align-items: center;
    padding: 1.1rem 0rem;
    transition: 0.3s;
    svg {
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 1.3rem;
      margin-left: 2rem;
      transition: 0.3s ease-in-out;
    }
    p {
      font-size: 16px;
      color: #a1a1a3;
      transition: 0.3s ease-in-out;
    }
  }
}
.hidden {
  opacity: 0;
  transform: translateX(-1.3rem);
}
.nav-list:hover {
  scale: 1.12;
  p {
    color: white;
    font-weight: 600;
  }
}
.highlight {
  scale: 1.1;
  & > p {
    color: white;
  }
}

