header {
  display: flex;
  height: 100vh;
  min-width: 3rem;
  position: fixed;
  z-index: 20;
  top: 0;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

ul {
  color: white;
  margin-left: 0 !important;
  li {
    display: flex;
    align-items: center;
    padding: 1.1rem 0rem;
    transition: 0.3s;
    .nav-svg {
      font-size: 1.4rem;
      margin-right: 1.3rem;
      margin-left: 2rem;
      color: #9c9d9f;
      transition: 0.3s ease-in-out;
    }
    p {
      font-size: 16px;
      color: #a1a1a3;
      margin-bottom: 0 !important;
      transition: 0.3s ease-in-out;
      a{
        text-decoration: none;
        color: rgb(227, 227, 227);
      }
    }
  }
}
.hidden {
  opacity: 0;
  transform: translateX(-1.3rem);
}
.nav-list:hover {
  .nav-svg{
    scale: 1.12;
  }
  p {
    scale: 1.12;
    color: white;
    font-weight: 600;
  }
}
.highlight {
  scale: 1.1;
  & > p {
    color: white;
  }
}

