.search-bar {
  align-items: center;
  width: 93%;
  gap: 1rem;
  margin: 0px auto;
  display: flex;
  padding: 20px;
  background-color: #252833;
  /* border: 1px solid #ccc; */
  border-radius: 7px;
  i {
    font-size: 31px;
    font-weight: 500;
    color: rgb(243, 239, 255);
  }
}

.search-icon {
  float: left;
  margin-right: 10px;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  background: #252833;
  font-size: 20px;
  font-weight: 500;
}
input::placeholder {
  color: #8f98b2;
}
input[type="text"] {
  caret-color: #3586f0;
  color: rgb(243, 239, 255);
}

/*Results*/
.results {
  margin-left: 7rem;
  .top-result {
    display: flex;
    color: white;
    img {
      border-radius: 3px;
      width: 100px;
      height: 200px;
      margin-right: 2rem;
    }
  }
}
.other-results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 3rem;
  .other-result-card {
    display: flex;
    flex-direction: column;
    img {
      width: 100px;
      height: 200px;
    }
    .other-result-movie-name {
      font-size: 0.7rem;
      color: white;
      text-align: center;
      width: 100px;
    }
  }
}
