@import "navbar", "basic", "container","after_header","hovercard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: $theme-bg;
  width: 100%;
}
