@import "navbar", "basic", "container", "after_header", "hovercard",
  "movie_caraousel", "footer", "search", "spinner";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: $theme-bg;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
